.faq {
    position: relative;
    width: 100%;
    max-width: 430px;
    padding: 20px;
    margin: auto;
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 100px;
  
    &__nav {
      @extend %title-14;
      font-weight: 700;
      color: rgba(0, 0, 0, 1);
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 42px;
      margin-top: 20px;
    }

    &__title {
        @extend %title-10;
        font-weight: 300;
        color: rgba(102, 112, 133, 1);
        margin-bottom: 70px;
        display: flex;
        align-items: center;
        gap: 6px;
    }

    &__form {
      width: 100%;
      height: 50px;
      border-radius: 30px;
border: 0.5px solid #D9D9D9;
background: #F6F6F6;
padding: 0 22px;
display: flex;
align-items: center;
gap: 17px;

& > input {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
}
    }

    &__how-title {
@extend %title-14;
font-weight: 700;
color: #0072BB;
text-decoration: underline;
margin-top: 25px;
    }

    &__how-subtitle {
@extend %title-14;
font-weight: 700;
color: #0072BB;
margin-top: 25px;
display: flex;
align-items: center;
gap: 13px;

& > :last-child {
  text-decoration: underline;
}
    }
    &__how-title {
@extend %title-14;
font-weight: 700;
color: #0072BB;
text-decoration: underline;
margin-top: 25px;
    }

    &__dropdown {
      width: 100%;
      height: 51px;
      border-radius: 6px;
border: 0.5px solid #667085;
background: #FFF;
display: flex;
align-items: center;
justify-content: space-between;
padding:  0 18px;
margin-top: 16px;
font-size: 11px;
font-weight: 600;
color: #667085;
    }

    &__article-title {
      @extend %title-12;
      font-weight: 700;
      color: #667085;
      line-height: 200%;
      margin-bottom: 16px;
    }

    &__article-list {
      @extend %title-10;
      font-weight: 300;
      color: #000;
      display: flex;
      align-items: center;
      gap: 17px;
      margin-bottom: 22px;

    }
}