.profile {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  padding: 20px;

  &__inner {
    padding: 20px;
    background: #fff;

    &__title {
      @extend %title-10;
      font-weight: 700;
      color: rgba(0, 48, 220, 1);
      margin-bottom: 22px;
    }

    &__group {
      display: flex;
      align-items: start;
      justify-content: space-between;
      margin-bottom: 23px;
      cursor: pointer;

      & > :first-child {
        display: flex;
        align-items: start;
        gap: 24px;
      }

      &__title {
        @extend %title-12;
        font-weight: 700;
        color: rgba(102, 112, 133, 1);
        margin-bottom: 8px;
      }

      &__subtitle {
        @extend %title-8;
        font-weight: 300;
        color: rgba(102, 112, 133, 1);
        margin-bottom: 8px;
      }
    }

    &__mfa {
      &__nav {
        margin-bottom: 20px;
        cursor: pointer;
      }

      &__title {
        @extend %title-12;
        font-weight: 700;
        color: rgba(102, 112, 133, 1);
        margin-bottom: 6px;
      }

      &__subtitle {
        @extend %title-10;
        font-weight: 300;
        color: rgba(102, 112, 133, 1);
        margin-bottom: 26px;
      }

      &__group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 35px;

        & > :first-child {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        &__switch {
          width: 30px;
          height: 14.84px;
          border-radius: 50px;
          background: #fff;
          border: 1px solid #000;
          // position: relative;
          cursor: pointer;
          padding: 0 1px;
          display: flex;
          align-items: center;

          &__ball {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #5df79d;
            border: 1px solid #000;
            transition: 0.4s;
          }
        }

        &__switch-active {
          background: #5df79d;

          .profile__inner__mfa__group__switch__ball {
            background: #fff;
            transition: 0.4s;
            transform: translate(160%, 0);
          }
        }
      }

      &__modal {
        position: fixed;
        width: 100%;
        max-width: 430px;
        margin: 0 auto;
        height: 100vh;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: end;
        justify-content: center;
        background: #00000015;
        &__inner {
          width: 100%;
          height: 323px;
          background: #fff;
          border-radius: 20px 20px 0 0;
          padding: 24px;
          &__title {
            @extend %title-16;
            font-weight: 700;
            color: rgba(102, 112, 133, 1);
            margin-bottom: 6px;
          }
          &__subtitle {
            @extend %title-10;
            font-weight: 400;
            color: rgba(177, 179, 181, 1);
            margin-bottom: 32px;
          }
          &__label {
            @extend %title-10;
            font-weight: 700;
            color: rgba(64, 140, 255, 1);
            margin-bottom: 7px;
          }
          &__input {
            @extend %primary-input;
            margin-bottom: 59px;
          }

          &__otp-group {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            align-items: center;
            gap: 12px;
            margin-bottom: 59px;

            &__otp {
              @extend %otp-input;
              height: 45px;
              border: 0.4px solid rgba(64, 140, 255, 1);
              background: #fff;
              border-radius: 4px;
            }
          }

          &__button {
            @extend %action-button;
          }
        }
      }
    }
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    max-width: 430px;
    background: #0000004b;
    display: flex;
    align-items: end;
    z-index: 4;

    &__inner {
        width: 100%;
        min-height: 332px;
        border-radius: 20px 20px 0 0;
        background: rgba(255, 255, 255, 1);
        box-shadow: 10px 10px 42.23px 0px rgba(123, 123, 140, 0.6);
        padding: 28px 16px 16px 16px;

        &__title {
            display: flex;
            align-items: center;
            gap: 18px;

            & > div {
                & >:first-child {
                    @extend %title-14;
                    font-weight: 700;
                    color: rgba(68, 64, 255, 1);
                    margin-bottom: 8px;
                }
                & >:last-child {
                    @extend %title-10;
                    font-weight: 300;
                    color: rgba(102, 112, 133, 1);
                }
            }
        }

        &__subtitle {
          @extend %title-10;
          font-weight: 500;
          margin: 40px 0 27px 0;
          color: rgba(102, 112, 133, 1);
        }

        &__modes {
            display: flex;
            align-items: center;
            gap: 40px;
            margin-top: 29px;
            margin-bottom: 72px;

            & > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

                &__box-light {
                    width: 60px;
                    height: 60px;
                    border-radius: 4px;
                    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
                    background: rgba(255, 255, 255, 1);
                    margin-bottom: 10px;
                }
                &__box-dark {
                    width: 60px;
                    height: 60px;
                    border-radius: 4px;
                    margin-bottom: 10px;
                    background: rgba(0, 0, 0, 1);
                    border: 0.4px solid rgba(64, 140, 255, 1);
                }
                &__box-active {
                    &__title {
                        font-weight: 700 !important;
                    }
                }
                &__title {
@extend %title-10;
font-weight: 300;
color: rgba(102, 112, 133, 1);
                }
        }

        &__button {
            @extend %action-button;
        }

        &__input {
            @extend %primary-input;
            margin-bottom: 17px;
        }

        &__freeze-card {
          width: 100%;
    height: 50px;
    border-radius: 4px;
    background: rgba(247, 247, 247, 1);
    border: 0.2px solid rgba(102, 112, 133, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(102, 112, 133, 1);
    transition: 0.4s;
    font-family: Raleway;
    padding-left: 31px;
    padding-right: 18px;
    margin-bottom: 13px;

    cursor: pointer;
        }

        &__freeze-card-active {
          border: 1px solid rgba(102, 112, 133, 1);
        }

        &__otp-inputs {
          display: flex;
          align-items: 'center';
          justify-content: space-between;
          margin: 43px 0 45px 0;
  
          &__input {
            @extend %outlined-otp-input;
            height: 45px;
            width: 45px;
          }
        }


        &__unfreeze-time {
          @extend %title-12;
          width: 100%;
          height: 45px;
          border-radius: 4px;
          background: rgba(255, 255, 255, 1);
          border: 0.4px solid rgba(102, 112, 133, 1);
          display: flex;
          align-items: center;
          gap: 24px;
          font-weight: 700;
          color: rgba(102, 112, 133, 1);
        padding: 0 22px;
          margin-bottom: 43px;

          & >:first-child {
            @extend %title-10;
            font-weight: 400;
            color: rgba(102, 112, 133, 1);
          }

          & >:last-child {
            display: flex;
            align-items: center;
            gap: 16px;
          }
        }

        .profile__modal__inner__input:first-child {
            margin-top: 28px !important;
            background: yellow !important;
            display: none !important;
        }
    }
  }
}
