.profile {
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
    padding: 20px;

    &__inner {
        padding: 20px;
        background: #FFF;

        &__title {
            @extend %title-10;
            font-weight: 700;
            color: rgba(0, 48, 220, 1);
            margin-bottom: 22px;
        }

        &__group {
            display: flex;
            align-items: start;
            justify-content: space-between;
            margin-bottom: 23px;
            cursor: pointer;

            &>:first-child {
                display: flex;
                align-items: start;
                gap: 24px;
            }

            &__title {
                @extend %title-12;
                font-weight: 700;
                color: rgba(102, 112, 133, 1);
                margin-bottom: 8px;
            }

            &__subtitle {
                @extend %title-8;
                font-weight: 300;
                color: rgba(102, 112, 133, 1);
                margin-bottom: 8px;
            }
        }

        &__mfa {
            &__nav {
                margin-bottom: 20px;
                cursor: pointer;
            }

            &__title {
                @extend %title-12;
                font-weight: 700;
                color: rgba(102, 112, 133, 1);
                margin-bottom: 6px;
            }

            &__subtitle {
                @extend %title-10;
                font-weight: 300;
                color: rgba(102, 112, 133, 1);
                margin-bottom: 26px;
            }

            &__group {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 35px;

                &>:first-child {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                &__switch {
                    width: 30px;
                    height: 14.84px;
                    border-radius: 50px;
                    background: #FFF;
                    border: 1px solid #000;
                    // position: relative;
                    cursor: pointer;
                    padding: 0 1px;
                    display: flex;
                    align-items: center;

                    &__ball {
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: #5DF79D;
                        border: 1px solid #000;
                        transition: 0.4s;                    }
                }

                &__switch-active {
                    background: #5DF79D;

                    .profile__inner__mfa__group__switch__ball {
                        background: #FFF;
                        transition: 0.4s;
                        transform: translate(160%, 0);
                    }
                }
            }

            &__modal {
                position: fixed;
                width: 100%;
    max-width: 430px;
    margin: 0 auto;
                height: 100vh;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                align-items: end;
                justify-content: center;
                background: #00000015;
                &__inner {
                    width: 100%;
                    height: 323px;
                    background: #FFF;
                    border-radius: 20px 20px 0 0;
                    padding: 24px;
                    &__title {
                        @extend %title-16;
                        font-weight: 700;
                        color: rgba(102, 112, 133, 1);
                        margin-bottom: 6px;
                    }
                    &__subtitle {
                        @extend %title-10;
                        font-weight: 400;
                        color: rgba(177, 179, 181, 1);
                        margin-bottom: 32px;
                    }
                    &__label {
                        @extend %title-10;
                        font-weight: 700;
                        color: rgba(64, 140, 255, 1);
                        margin-bottom: 7px;
                    }
                    &__input {
                        @extend %primary-input;
                        margin-bottom: 59px;
                    }

                    &__otp-group {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                        align-items: center;
                        gap: 12px;
                        margin-bottom: 59px;

                        &__otp {
                            @extend %otp-input;
                            height: 45px;
                            border: 0.4px solid rgba(64, 140, 255, 1);
                            background: #FFF;
                            border-radius: 4px;
                        }
                    }

                    &__button {
                        @extend %action-button;
                    }
                }
            }
        }
    }
}