.transaction {
  position: relative;
  width: 100%;
  max-width: 430px;
  margin: auto;
  padding: 20px;
  &__nav {
    @extend %title-14;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 42px;
  }

  &__statement {
    @extend %title-10;
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: 400;
    color: rgba(82, 82, 82, 1);
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
  &__banner {
    position: relative;
    width: 100%;
    height: 194px;
    border-radius: 4px;
    margin-bottom: 21px;
    background: rgba(117, 52, 255, 1);

padding: 13px 18px;
    &__title {
      @extend %title-8;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      margin-bottom: 4px;
      // position: absolute;
      // bottom: 37px;
      // left: 50%;
      // transform: translateX(-50%);
    }

    &__subtitle {
      @extend %title-16;
      font-weight: 800;
      color: rgba(255, 255, 255, 1);

      & > span {
        @extend %title-10;
        font-weight: 700;
        color: rgba(255, 255, 255, 1);
      }
    }

    &__nav {
      position: absolute;
      bottom: 23px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      gap: 3px;

      & > div {
        width: 20px;
        height: 5px;
        background: rgba(237, 237, 237, 1);
        border-radius: 6px;
      }

      &__active {
        width: 30px !important;
        background: rgba(68, 64, 255, 1) !important;
      }
    }
  }

  &__tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    &__tab {
      display: flex;
      align-items: center;

      & > div {
        @extend %title-10;
        font-weight: 400;
        padding: 6px 15px;
        border-radius: 4px;
        color: rgba(0, 0, 0, 1);
        cursor: pointer;
      }

      &__active {
        background: rgba(255, 190, 22, 1);
        font-weight: 700 !important;
      }
    }

    &__filter {
      display: flex;
      align-items: center;
      gap: 8px;

      & > label {
        @extend %title-10;
        position: relative;
        font-weight: 300;
        color: rgba(0, 0, 0, 1);
        background: rgba(245, 245, 245, 1);
        width: 82px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:  0 12px;
        border-radius: 4px;

        & > svg {
          cursor: pointer;
        }
        
      }

      &__input-first {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
      }
      &__input-last {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        z-index: -1;
      }
    }
  }

  &__date {
    @extend %title-10;
    font-weight: 700;
    color: rgba(102, 112, 133, 1);
    margin-bottom: 17px;
  }
  &__title {
    @extend %title-14;
    color: rgba(102, 112, 133, 1);
    font-weight: 400;
    margin-bottom: 10px;
  }
  &__subtitle {
    @extend %title-30;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 15px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 25px;

    & > :first-child {
      & > span {
        @extend %title-14;
        color: rgba(82, 82, 82, 1);
      }
    }

    &__icon {
      width: 32px;
      height: 32px;
      background: #f5f5f5;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
  }

  &__limit {
    @extend %title-8;
    width: 100%;
    height: 26px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    background: rgba(251, 251, 251, 1);
    border-radius: 4px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 17px;

    & > div {
      display: flex;
      align-items: center;
      gap: 8px;
      & > span {
        color: rgba(102, 112, 133, 1);
        font-weight: 700;
      }
    }
  }

  &__recipient {
    @extend %title-10;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 25px;
    &__title {
      @extend %title-10;
      font-weight: 300;
      color: rgba(0, 0, 0, 1);
      margin-bottom: 8px;
    }

    &__recipients {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 7px;
      }
    }
  }

  &__input {
    @extend %primary-input;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 6px;
    border: 1px solid rgba(68, 64, 255, 1);

    & > input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
    }

    & > :first-child {
      color: rgba(68, 64, 255, 1);
      font-weight: 700;
    }
  }

  &__input-result {
    @extend %title-8;
    font-weight: 700;
    color: rgba(68, 64, 255, 1);
    margin-bottom: 25px;
  }

  & > button {
    @extend %action-button;
    margin-top: 49px;
    margin-bottom: 41px;
  }

  &__otp-modal {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 24px 24px 0px 0px;
    height: 404px;
    box-shadow: 0px -4px 4px 0px rgba(236, 236, 236, 1);
    background: rgba(255, 255, 255, 1);
    padding: 20px;

    &__summary {
      width: 100%;
      padding: 14px;
      border-radius: 6px;
      background: rgba(248, 250, 255, 1);
      margin-bottom: 39px;

      &__title {
        @extend %title-10;
        font-weight: 500;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 3px;
      }

      &__inner {
        @extend %title-12;
        font-weight: 700;
        color: rgba(68, 64, 255, 1);
        display: flex;
        align-items: center;
        gap: 15px;

        &__details {
          @extend %title-8;
          font-weight: 700;

          color: rgba(68, 64, 255, 1);
          white-space: nowrap;
          padding: 9px 16px;
          border: 0.4px solid rgba(68, 64, 255, 1);
          border-radius: 12px;
        }
      }
    }

    &__otp-group {
      width: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      align-items: center;
      gap: 10px;
      margin-bottom: 64px;

      & > input {
        width: 100%;
        height: 50px;
        border: 0.5px solid rgba(211, 211, 211, 1);

        border-radius: 4px;

        text-align: center;

        color: var(--Gray-Active-text-colour, #161616);
        font-size: 24px;
        font-weight: 600;
      }

      // &__active {
      //   border: 2px solid #028c4b !important;
      //   outline: none;
      // }
    }

    & > button {
      @extend %action-button;
    }
  }

  &__history-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;

    &__title {
      display: flex;
      align-items: center;
      gap: 11px;

      & > :last-child {
        @extend %title-8;
        color: rgba(52, 64, 84, 1);

        & > :first-child {
          font-weight: 700;
          margin-bottom: 8px;
          color: rgba(52, 64, 84, 1);
        }
        & > :last-child {
          font-weight: 400;
        }
      }
    }

    &__amount {
      @extend %title-14;
      font-weight: 700;

      & > span {
        @extend %title-10;
      }

      &__add {
        color: rgba(4, 216, 127, 1) !important;

        & > span {
            @extend %title-10;
            color: rgba(4, 216, 127, 1) !important;
    
          }
      }
      &__remove {
        color: rgba(255, 62, 62, 1) !important;

        & > span {
            @extend %title-10;
            color: rgba(255, 62, 62, 1) !important;
    
          }
      }
    }
  }

  &__statement-icon {
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
  }

  &__statement-date-title {
    @extend %title-10;
    font-weight: 400;
    color: rgba(156, 156, 156, 1);
    margin-bottom: 9px;
  }

  &__statement-date-range{
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 36px;
    
    & > div {
      @extend %title-10;
      padding: 0 8px;
      font-weight: 300;
      color: rgba(0, 0, 0, 1);
      width: 170px;
      height: 36px;
      background: rgba(245, 245, 245, 1);
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__statement-date-subtitle{
    @extend %title-10;
    font-weight: 400;
    color: rgba(156, 156, 156, 1);
    margin-bottom: 9px;
  }

  &__statement-tabs{
    display: flex;
    align-items: center;
    gap: 24px;

    & > div {
      @extend %title-10;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
      width: 97px;
      height: 30px;
      display: flex;
      align-items: center;
      padding: 0 16px;
      border-radius: 4px;
      cursor: pointer;
    }

    &__active {
      background: rgba(255, 190, 22, 1);
      font-weight: 700 !important;
    }
  }
}
