.profile-header {
  width: 100%;
  height: 65px;
  background: #f3f3ff;

  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    background: url("/assets/profile-banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 20px;

    &__title {
      @extend %title-10;
      font-weight: 300;
      color: rgba(102, 112, 133, 1);
      margin-bottom: 6px;
    }
    &__subtitle {
      @extend %title-12;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);

      & > span {
        font-weight: 700;
      }
    }
  }
}
